<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/favicon.ico">

    <title>{{ app_name }}{% if page_name %} - {{ page_name }}{% endif %}</title>

    {% if debug %}
    <link href="/css/main.css" rel="stylesheet">
    {% else %}
    <link href="/build/main.css" rel="stylesheet">
    {% endif %}

    <script>
        var appConfig = {
            csrf_token: "{{ csrf_token }}",
            user_id: {{ user_id ? user_id : 'null' }},
            firstname: "{{ firstname }}",
            lastname: "{{ lastname }}",
            app_name: "{{ app_name }}",
            app_version: "{{ app_version }}",
            debug: {{ debug ? 'true' : 'false' }},
            anonymous: {{ is_anonymous ? 'true' : 'false' }},
            admin: {{ is_admin ? 'true' : 'false' }}
        };
    </script>
</head>

<body ng-controller="MainController">

{% verbatim %}
<div id="alerts" ng-controller="AlertsController" class="ng-cloak">
    <div ng-repeat="alert in alerts" class="alert" role="alert" ng-class="[alert.type]">{{ alert.msg }}</div>
</div>
{% endverbatim %}