<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/favicon.ico">

    <title>{{ app_name }}</title>

    <link href="/app/css/bootstrap.css" rel="stylesheet">
    <link href="/app/css/app.css" rel="stylesheet">
    <script>
        var appConfig = {
            csrf_token: "{{ csrf_token }}",
            user_id: "{{ user_id }}",
            firstname: "{{ firstname }}",
            lastname: "{{ lastname }}",
            admin: {{ is_admin }}
        }
    </script>
</head>

<body>